<main class="forget">
    <div class="contenedor">
  <div>
    <h1>¿Olvidaste tu Contraseña?</h1>
    <p>Llena los siguientes campos para validar</p>
      <form (ngSubmit)="onSubmit(valida)" class="" #valida="ngForm">
        <div class="forget__content">
        <div class="forget__content--input">
            <label>Usuario:</label>
            <input class="forget__input margin-top-2" [(ngModel)]="user.username"
               name="username"
               type="text"
               required
               autocomplete="username">
        </div>
        
        <div class="forget__content--input">
             <label>Celular:</label>
            <input class="forget__input margin-top-2"
               name="telefono"
               type="number"  [(ngModel)]="user.phone">
        </div>

        <div class="forget__content--input forget__content--email">
            <label>Correo:</label>
            <input class="forget__input forget__input--email  margin-top-2"
               name="email"
               type="email" [(ngModel)]="user.email">
        </div>
    
        <div >
          <button class="margin-top-2 boton__login">
            Enviar
          </button>
        </div>
        </div>
      </form>
  </div>
</div>

  <modal 
    [title]="'Notificación'"
    [message]="backendMessage"
    [show]="isModalVisible"
    (closed)="onModalClosed()"
  />

</main>
