<div class="footerAuth">
  <div class="footer--bkc">
    <div class="contenedor">
      <div class="footer__primero">
        <div class="footer__primero--nav">
          <a class="navegacion__enlace" [routerLink]="['/auth/inicio']">Inicio</a>
          <a class="navegacion__enlace" [routerLink]="['/auth/usuarios']">Usuarios</a>
          <a class="navegacion__enlace" [routerLink]="['/auth/productos']">Productos</a>
          <a class="navegacion__enlace" [routerLink]="['/auth/clientes']">Clientes</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer__ultimo">
      <p class="margin-0 footer__ultimo--derechos">Derechos reservados ©2025</p>
    </div>
  </div>
</div>
