@use "../../base/variables" as v;

.footerAuth{
  .footer__primero{
    display: flex;
  }
  .footer__primero--nav{
    display: flex;
    width: 100%;
    .navegacion__enlace{
      text-align: center;
      font-size: 2rem;
    }
  }

  .footer--bkc{
    background-color: v.$menosBlanco;
    .navegacion__enlace{
      color: v.$negro;
      &:hover{
        color: v.$noTanNegro;
        background-color: v.$menosBlanco;
      }
    }
  }

  .footer__ultimo{
    background-color: v.$blanco;

    .footer__ultimo--derechos{
      color: v.$negro;
    }
  }
}
