<main>

  <div class="contenedor login--bg">
    <div>
      <h1>Acceder</h1>
      <div >
        <form (ngSubmit)="onSubmit()" class="login__content">
          <input class="login__input margin-top-2" placeholder="Usuario" readonly [(ngModel)]="user.username"
                 name="username"
                 type="text"
                 required
                 autocomplete="username">
          <input class="login__input margin-top-2"
                 name="oldPassword"
                 type="password" placeholder="Contraseña Actual" [(ngModel)]="user.oldPassword">
          <input class="login__input margin-top-2"
                 name="newPassword"
                 type="password" placeholder="Nueva Contraseña" [(ngModel)]="user.newPassword">       
          <input class="login__input margin-top-2"
                 name="confPassword"
                 type="password" placeholder="Confirmar Contraseña" [(ngModel)]="user.confrPass">
          <div >
            <button class="margin-top-2 boton__login">
              Acceder
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <modal 
    [title]="'Notificación'"
    [message]="backendMessage"
    [show]="isModalVisible"
    (closed)="onModalClosed()"
  />
</main>
